<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>Welcome to the coolest app ever</h1>
      <p>We are super dope</p>
      <%= link_to "Click here if you're a member", members_only_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
